a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
    font-size: 11px;
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
body { 
    background: url(images/bg.jpg);
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	scrollbar-arrow-color:  #232D32;
	scrollbar-face-color: #9DB1C1;
	scrollbar-track-color: #D6DEE4;
	scrollbar-highlight-color: #C8D3DD;
	scrollbar-3dlight-color: #DCE3E9;
	scrollbar-shadow-color: #75919F;
	scrollbar-darkshadow-color: #465964;
} 
input, textarea {
	background: #1860A4;
	font-family: arial;
	font-size: 10px;
	color: #000000; 
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	}
.MenuHeading {
	font-size: 11px;
	color: #3F505F; 
	font-weight: bold;
}
.TableHeading {
	font-size: 12px;
	color: #000000; 
	font-weight: bold;
}